<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>358997618398544</sid>
    <event-sheet></event-sheet>
    <size>
        <width>1708</width>
        <height>960</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Background" sid="899709238295088">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances />
            <effects />
        </layer>
        <layer name="Game" sid="621471053078407">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Line" uid="3">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <placed>false</placed>
                        <red>false</red>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Horizontal</movement>
                                <wave>Sine</wave>
                                <period>4</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>50</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-283</x>
                        <y>246</y>
                        <z>0</z>
                        <width>5.304878235</width>
                        <height>5.48780489</height>
                        <depth>0</depth>
                        <hotspotX>0.517241359</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Start" uid="4">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <touched>false</touched>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-221</x>
                        <y>379</y>
                        <z>0</z>
                        <width>43.716926575</width>
                        <height>43.716926575</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Point" uid="5">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <touched>false</touched>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>No</active-at-start>
                                <fade-in-time>0.2</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>0</fade-out-time>
                                <destroy>No</destroy>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-282</x>
                        <y>-139</y>
                        <z>0</z>
                        <width>77</width>
                        <height>77</height>
                        <depth>0</depth>
                        <hotspotX>0.506493509</hotspotX>
                        <hotspotY>0.506493509</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Touching" uid="6">
                    <properties>
                        <rate>50</rate>
                        <spray-cone>360</spray-cone>
                        <type>Continuous spray</type>
                        <initial-particle-properties></initial-particle-properties>
                        <speed>100</speed>
                        <size>8</size>
                        <opacity>100</opacity>
                        <grow-rate>0</grow-rate>
                        <x-randomiser>0</x-randomiser>
                        <y-randomiser>0</y-randomiser>
                        <speed-randomiser->0</speed-randomiser->
                        <size-randomiser>0</size-randomiser>
                        <grow-rate-randomiser>0</grow-rate-randomiser>
                        <particle-lifetime-properties></particle-lifetime-properties>
                        <acceleration>-300</acceleration>
                        <gravity>0</gravity>
                        <angle-randomiser>0</angle-randomiser>
                        <speed-randomiser>800</speed-randomiser>
                        <opacity-randomiser>0</opacity-randomiser>
                        <destroy-mode>Fade to invisible</destroy-mode>
                        <timeout>1</timeout>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-342</x>
                        <y>116</y>
                        <z>0</z>
                        <width>128</width>
                        <height>128</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Touching2" uid="7">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-285</x>
                        <y>-18</y>
                        <z>0</z>
                        <width>30</width>
                        <height>30</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Line2" uid="20">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <placed>false</placed>
                        <red>false</red>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-325</x>
                        <y>314</y>
                        <z>0</z>
                        <width>5.304877758</width>
                        <height>5.48780489</height>
                        <depth>0</depth>
                        <hotspotX>0.517241359</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="ObstacleStar" uid="22">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>No</active-at-start>
                                <fade-in-time>0.2</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>0</fade-out-time>
                                <destroy>No</destroy>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-188.324890137</x>
                        <y>-157.08531189</y>
                        <z>0</z>
                        <width>44.858314514</width>
                        <height>44.858314514</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
